
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

#app > .row {
    margin: 0;
}

h4 {
    color: #fff;
}

.navbar-right {
    margin-right: 0;
}

.mb0 {
    margin-bottom: 0 !important;
}
